// Color Variables
@import "../color/variables_color.less";

/*=== LAYOUTS ===*/
.home-layout1 {
    #yt_top {
        position: relative; z-index: 97;
    }
    
}
#yt_top {
    border-bottom: #ddd 1px solid; background: #fff;
}

#yt_header {
    padding: 10px 0 20px; background: #f6f6f6;
    #yt_mainmenu {
        margin-top: 12px; position: relative; z-index: 100;
    }
}

#content {margin-bottom: 30px;}

#yt_spotlight1 {
    background: #f6f6f6; margin-bottom: 30px;
}

#yt_spotlight4 {
    background: url(../../images/bg/bg_newsletter.jpg) 0 0 no-repeat;
    background-size: cover; padding: 38px 0;
}

#yt_spotlight5 {
    background: #eee; padding: 25px 0 10px;
    .module {
        margin: 0; background: none; border: none;
        h3.modtitle {
            border: 0; padding: 0; margin: 0; font-weight: 400;
            background: none; font-size: 16px; color: #444; text-transform: none;
        }
        div.modcontent {
            padding: 20px 0 0;
        }
    }
    #bottom3 {
        p {line-height: 18px;}
    }
}

#yt_spotlight6 {
    background: #ddd; border: #ccc 1px solid;
    border-width: 1px 0px; padding: 33px 0;
}

#yt_copyright {
    div {
        display: inline-block;
        a {color: #666; &:hover {color: @linkColor;}}
    }
}

#yt_footer {
    padding: 20px 0; background: #eee;
}

/*=== MODULES ===*/
.dropdown-menu {
    border: #ddd 1px solid;
    box-shadow: none;
    .border-radius (0);
    .dropdown-menu {margin: 0; padding: 0;}
}

//Module Custom Html
.info_top_left {
    margin: 0; padding: 0; list-style: none;
    li {
        display: inline-block; margin-right: 15px; padding: 5px 0;
        &:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome; text-rendering: auto;
            -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0); margin-right: 5px; color: @linkColor;
        }
        &.phone {
            &:before {content: "\f095";}
        }
        &.email {
            &:before {content: "\f0e0";}
        }
    }
}

.user_menu_top_right {
    float: right; display: inline-block;
    margin: 0; padding: 0;
    li {
        float: left; display: inline-block; position: relative;
        a, span {
            display: block; color: @linkColor2; padding: 5px 20px;
        }
        &:before {
            display: block; position: absolute; content: "";
            width: 1px; height: 16px; background: #ddd; left: 0; top: 10px;
        }
        &:first-child {
            &:before {display: none;}
        }
        &.parent {
            position: relative;z-index: 990;
            a, span {padding: 5px 25px 7px 20px; cursor: pointer;}
            &:after {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome; text-rendering: auto;
                -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0); content: "\f0d7"; position: absolute; top: 10px; right: 8px;
            }
            ul.yt-list {
                margin: 0; padding: 0; background: #fff;
                position: absolute; display: none;
                border: #ddd 1px solid; min-width: 150px;
                z-index: 5;
                li {
                    float: none; display: block;
                    &:before {display: none;}
                    a {
                        display: block; padding: 3px 10px; color: @linkColor2;
                        &:hover {
                            background: @background1; color: #fff;
                        }
                    }
                }
            }
            &:hover {
                &:after {
                    color: @linkColor;
                }
            }
        }
        &:hover {
            a, span {color: @linkColor;}
        }
    }
}

.module.mslhome1 {margin-bottom: 10px;}

.banner-slth1 {
    margin: 5px -5px 0; padding: 0;
    list-style: none; position: relative;
    top: -15px;
    li {
        float: left; display: inline-block;
        padding: 0 5px; width: 35.5%;
        &:last-child {width: 29%;}
        a {
            display: block;
        }
    }
}

.slideshow_deal {
    margin: -5px;
    .main_slideshow {
        float: left;  width: 71%; overflow: hidden;
        padding: 5px;
        .yt-content-slider {
            .owl-controls {
                margin: 0;
                .owl-nav {
                    .owl-prev, .owl-next {
                        background: none; border: #fff 2px solid; line-height: 37px;
                        .border-radius(50%);
                    }
                }
            }
        }
    }
    .main_deal {
        float: left; display: inline-block; width: 29%; padding: 5px;
    }
}

.list_bottom {
    margin: 0; padding: 0;
    list-style: none;
    li {
        padding: 1px 0; transition: 0.3s all ease 0s;
        &:before {
            display: inline-block;
            font: normal normal normal 12px/1 FontAwesome; text-rendering: auto;
            -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0); content: "\f0da"; margin-right: 10px;
        }
        a {
            font-size: 12px; color: #444;
        }
        &:hover {
            margin-left: 5px;
            &:before, a {color: @linkColor;}
        }
    }
}

.list_contact {
    margin: 0; padding: 0; list-style: none;
    li {
        line-height: 20px;
        &:before {
            font: normal normal normal 12px/1 FontAwesome; text-rendering: auto; margin-right: 10px; color: @linkColor;
            -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0);
        }
        &.add {
            &:before {content: '\f041'; font-size: 14px;}
        }
        &.phone {
            &:before {content: '\f10b'; font-size: 18px;}
        }
        &.email {
            &:before {content: '\f003';}
        }
    }
}

.services_home1 {
    margin: 0; padding: 0; list-style: none;
    li {
        display: inline-block; width: 20%; float: left;
        text-align: center;  line-height: 18px;margin-bottom: 13px;
        a {
            color: #999; display: block; text-align: center;
            span {display: block;
                &.name {
                    font-weight: 700; color: #444;
                }
                &.icon {
                    width: 60px; height: 50px; text-indent: -9999em; margin: 0 auto 15px;
                    background: url(../../images/icon/icon-services.png) 0 0 no-repeat;
                }
            }
            &.ser1 {
                .icon {background-position: 0 0;}
            }
            &.ser2 {
                .icon {background-position: 0 -50px;}
            }
            &.ser3 {
                .icon {background-position: 0 -100px;}
            }
            &.ser4 {
                .icon {background-position: 0 -150px;}
            }
            &.ser5 {
                .icon {background-position: 0 -200px;}
            }
            &:hover {
                .name {color: @linkColor;}
            }
        }
    }
}

.payment {
    margin: 0 -2px; padding: 0; list-style: none; float: right;
    li {
        display: inline-block; float: left; margin: 0 2px;
        a {
            width: 40px; height: 25px; display: block;
            text-indent: -9999em; background: url(../../images/icon/icon-payment.png) 0 0 no-repeat;
            &:hover {background-position: 0 -25px; cursor: pointer;}
            &.visa {
                background-position: 0 0;
                &:hover {background-position: 0 -25px;}
            }
            &.discover {
                background-position: -50px 0;
                &:hover {background-position: -50px -25px;}
            }
            &.mastercard {
                background-position: -100px 0;
                &:hover {background-position: -100px -25px;}
            }
            &.paypal {
                background-position: -150px 0;
                &:hover {background-position: -150px -25px;}
            }
        }
    }
}

.contentmega {
    background: #fff;
    overflow: hidden; padding: 20px;
    .content_listmega {
        &.content_listmega1 {float: left; display: inline-block; width: 40%;
            .list_mega {width: 100%;}
        }
        &.content_listmega2 {float: left; display: inline-block; width: 60%;}
        .list_mega {
            float: left; display: inline-block; width: 50%;
            margin: 0 0 20px; padding: 0;
            li {
                border: none; line-height: normal;
                a {
                    color: #666;
                    padding: 5px 15px !important;
                    &:hover {color: @linkColor;}
                }
                &.title {
                    margin-bottom: 5px;
                    a {
                        font-size: 16px; color: #444;
                    }
                }
            }
        }
    }
    .bn_mega {
        float: right; display: inline-block; margin-right: -40px;
        &.bn_mega1 {margin: -20px -20px -20px 0;}
    }
    .q_link { clear: both; margin: -20px; text-align: center; font-size: 14px;
        display: block; background: #eee; padding: 15px; position: relative; z-index: 1;
        a {display: inline-block !important; padding: 0 !important; margin: 0 0 0 5px !important; color: #666; line-height: normal; &:hover {color: @linkColor;}}
    }
}

.banner {
    a {
        display: block;
        img {opacity: 1; transition: 0.3s all ease 0s;}
        &:hover {
            img {opacity: 0.6;}
        }
    }
}

.module.brands {
    div.modcontent {
        padding: 0 30px;
        .yt-content-slider {
            .owl-stage-outer {
                margin-top: -22px;
                .owl-stage {
                    .owl-item {
                        .yt-content-slide {
                            a {
                                min-height: 80px;
                                &:hover {
                                    img {opacity: 0.5;}
                                }
                            }
                        }
                    }
                }
            }
            .owl-controls {
                margin: 0 !important;
                .owl-nav {
                    .owl-prev, .owl-next {
                        background: none !important; opacity: 1;
                        color: #666; &:hover {color: @linkColor;}
                    }
                    .owl-prev {left: -20px;}
                    .owl-next {right: -20px;}
                }
            }
        }
    }
}

//Module language
.mod-languages {
    float: right; display: inline-block; position: relative;
    .dropdown-toggle {
        color: @linkColor2; cursor: pointer; position: relative;
        display: block; padding: 7px 0px 7px 20px;
        &:before {
            display: block; position: absolute; content: "";
            width: 1px; height: 16px; background: #ddd; left: 5px; top: 10px;
        }
    }
    ul.dropdown-menu {
        left: auto;
        right: 0;
        min-width: 100px;
        display: none;
        li {
            text-align: left;
            margin: 0; direction: ltr;
            &.lang-active {a{color: @linkColor;}}
            a {padding: 5px 10px; font-size: 12px;}
            &:hover {
                a {
                    color: #fff; background: @background1;
                }
            }
        }
    }
    &:hover {
        .dropdown-toggle { color: @linkColor; }
    }
}

//Module Currency
.mod-currency {
    float: right; display: inline-block; position: relative;
    select.selectpicker {-webkit-appearance:none;
    -moz-appearance:none; padding: 9px 23px 7px 16px; visibility: hidden;
background: none; float: none; display: block; font-size: 12px; position: absolute; line-height: 22px;
    appearance:none; border: none;}
    .btn-group.bootstrap-select.inputbox {
        margin: 0; width: auto !important;
        .btn.dropdown-toggle.selectpicker.btn-default {
            margin: 0; padding: 7px 25px 7px 20px; background: none; float: none; display: block;
            font-size: 12px; position: relative; line-height: 22px;
            &:before {
                display: block; position: absolute; content: "";
                width: 1px; height: 16px; background: #ddd; left: 5px; top: 10px;
            }
        }
        &:hover {.btn span{color: @linkColor;}}
        .dropdown-menu {
            min-width: 100px;
            margin: 0; padding: 0;
            left: auto; right: -6px;
            li {
                a {
                    padding: 5px 10px; font-size: 12px;
                    &:hover {
                        background: @background1;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// Mod Minicart
.module.sjminicart {
    position: absolute;
    margin-bottom: 0;  top: 10px; right: 15px;
    .sj-minicart-pro {
    .mc-wrap{
        height: auto;
        .mc-header{
            background: #fff;
            border: #ddd 1px solid;
            padding: 2px;
            .mc-yourcart{
                border: #eee 1px solid; padding: 7px 12px;
                font-size: 13px; text-transform: uppercase;display: block;
                text-overflow: ellipsis; overflow: hidden; width: 170px; white-space: nowrap;
                .fa {font-size: 16px; margin: 0 5px; color: @linkColor;}
                strong {font-weight: 400;}
            }
        }
        .mc-content{
            background: #fff;
            border: none ;
            border-radius: 0;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
            right: 0;
            top: 44px;
            z-index: 99999;
            .mc-empty{
                color: @linkColor;
                font-size: 14px;
            }
            .mc-content-inner{
                .mc-top{
                    background: #666; position: relative;
                    span{ color: #fff; font-size: 14px; }
                    &:after {
                        bottom: 100%;
                        right: 10%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(102, 102, 102, 0);
                        border-bottom-color: #666;
                        border-width: 8px;
                        margin-left: -8px;
                    }
                }
                .mc-list{
                    padding: 0;
                    .mCSB_container { background: #f2f2f2;}
                    .mc-product-wrap {
                        padding: 5px 0;
                        .mc-product {
                            padding:5px 10px;
                            .mc-product-inner {
                                float: left; display: inline-block; width: 70%; margin: 0; padding: 0;
                                .mc-image {
                                    background: #fff; border: #ddd 1px solid; overflow: visible;
                                    float: left; display: inline-block; position: relative;
                                    max-width: 60px; a {display: block;}
                                    .mc-remove {
                                        position: absolute; bottom: -10px; right: -8px;
                                        color: #999; &:hover {color: @linkColor;}
                                    }
                                }
                                .mc-attribute {
                                    float: left; display: inline-block; width: 60%;
                                    .attr-name {
                                        a {
                                            color: #444; font-weight: 700; margin-bottom: 5px; margin-top: -4px;
                                            display: block; text-decoration: none; &:hover {color: @linkColor;}
                                        }
                                    }
                                    .attr-quantity {
                                        display: block;
                                        .label, .value, .quantity-control {
                                            float: left; display: inline-block; height: 20px;
                                            margin: 0 2px; line-height: 20px;
                                            .mc-quantity {
                                                min-height: 16px; height: 19px; font-size: 13px;
                                                border: #ddd 1px solid; background: #fff;
                                            }
                                            .quantity-plus, .quantity-minus {margin: 0;}
                                        }
                                    }
                                }
                            }
                            .attr-price {
                                float: left; display: inline-block; width: 30%;
                                text-align: right;
                                span.value {
                                    font-size: 12px; background: #999; .border-radius(2px);
                                    color: #fff; padding: 5px 8px;
                                }
                            }
                        }
                    }
                    .mCSB_scrollTools {
                        .mCSB_buttonUp, .mCSB_buttonDown {display: none;}
                        .mCSB_draggerContainer {
                            margin: 0; background: #ddd;
                            .mCSB_dragger_bar {
                                width: 16px; .border-radius(0); background: #ccc;
                            }
                            .mCSB_draggerRail {display: none;}
                        }
                    }
                }
                .mc-coupon{
                    display: none;
                }
                .mc-footer{
                    .price-total{
                        border-bottom: 1px solid #ddd;
                        border-top: 1px solid #ddd;
                        color: #444;
                        font-size: 16%;
                        font-weight: bold;
                        padding: 6px 23px;
                        text-transform: uppercase;
                        overflow: hidden;
                        .mc-totalprice-footer{
                            float: left;
                            text-align: left;
                            width: 100%;
                            strong{
                                float: right;
                                font-weight: 700;
                                color: #444;
                            }
                        }
                    }
                    .button-wrapper{
                        height: 52px;
                        .mc-gotocart{
                            background-color: #666;
                            color: #fff;
                            float: left;
                            font-size: 116.6%;
                            font-weight: bold;
                            margin-left: 15px;
                            margin-top: 10px;
                            padding: 6px 14px;
                            text-transform: uppercase;
                            &:hover{
                                background: @background1;
                            }
                        }
                        .mc-checkout-footer{
                            float: left;
                            span{
                                background-color: #666;
                                color: #fff;
                                float: left;
                                font-size: 116.6%;
                                font-weight: bold;
                                margin-left: 10px;
                                margin-top: 10px;
                                padding: 6px 14px;
                                text-transform: uppercase;
                                &:hover{
                                    background: @background1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}

//Module Sj Deals
.sj_vm_deals_wrap {
    .item-inner-title-module {display: none;}
    position: relative;
    .icon-deals {
        width: 83px; height: 83px; display: block; position: absolute; top:-1px; left: -1px;
        content: ""; background: url(../../images/icon/icon-deals.png) 0 0 no-repeat; z-index: 1;
    }
    .owl-carousel {
        border: #ddd 1px solid; z-index: 0;
        .owl-item { min-height: 330px;}
        .item {
            .item-deals {
                position: absolute; margin: 0;
                z-index: 1; right: 10px; top: 10px; background: @background1;
                .sj_deals_cd_day {
                    padding: 2px 5px; margin: 0;
                    width: auto; background: none;
                    span {margin: 0; display: inline-block;}
                    &.bg {background: darken(@background1,10%); padding: 2px 0px;
                        span.l {margin-left: -2px; margin-right: 2px;}
                        span.r {margin-left: 2px; margin-right: -2px;}
                    }
                }
            }
            .sj_relative {
                margin: 0 20px; text-align: left;
                .item-inner {
                    margin-top: 40px;
                    .item-image {
                        width: 100%; height: auto;
                        max-width: 245px; margin-bottom: 15px;
                        max-height: 235px;
                    }
                    .item-title {
                        margin: 5px 0; display: block;
                        a {
                            color: @linkColor2;
                            &:hover {color: @linkColor;}
                        }
                    }
                    .item-price {
                        .vm-display {
                            font-size: 12px; color: #999;
                            display: inline-block; margin-right: 10px;
                            .PricesalesPrice {
                                font-size: 16px; font-weight: 700;
                                color: @linkColor;
                            }
                            .PricediscountAmount {text-decoration: line-through;}
                        }
                    }
                }
            }
        }
        .owl-controls {margin-top: 5px;
            .owl-dots {
                display: block; padding: 5px 0;
                background: #eee; border-top: #ddd 1px solid;
                .owl-dot {
                    width: 10px; height: 10px; margin: 0 2px;
                    background: #999; display: inline-block;
                    &.active, &:hover {background: @background1;}
                }
            }
            .owl-nav {
                .owl-prev, .owl-next {
                    background: none; color: @linkColor2;
                    top: 35%; &:hover {color: @linkColor;}
                    position: absolute; width: 44px; height: 44px;
                    text-align: center; line-height: 44px;
                    .fa {font-size: 34px;}
                }
                .owl-prev {left: 0; top: 37.5%;}
                .owl-next {right: 0;}
            }
        }
    }
}

//Module Sj Extra News
.module.newblogs {
    .sj-extraslider {
        margin: 0;
        .extraslider-control {display: none;}
        .heading-title {
            display: block; background: #eee; float: none;
            color: #444; font-size: 14px; overflow: hidden; padding: 10px 15px;
            border-bottom: @linkColor 1px solid; margin-bottom: -1px;
            position: relative; z-index: 1; margin-top: -2px;
            .ex_icon {
                width: 40px; height: 41px; text-align: center; display: inline-block;
                line-height: 40px; background: @background1; color: #fff; margin:-10px 15px -10px -15px;
            }
        }
        .extraslider-inner {
            border: #ddd 1px solid;
            .item {
                .line {
                    margin: 0; border: none;
                    .item-wrap {
                        .item-wrap-inner {
                            margin: 20px 20px 8px;
                            .item-info {
                                text-align: left;
                                .item-title {
                                    padding: 10px 0;
                                    a {
                                        color: #666; font-weight: 700;
                                        font-size: 15px;
                                        &:hover {color: @linkColor; text-decoration: none;}
                                    }
                                }
                                .item-content {
                                    margin: 0;
                                    .item-description {color: #666;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-page {
            margin: -1px 0 0; padding: 0;
            border: #ddd 1px solid;
            .page {
                padding: 0 2px;
                .button-page {
                    width: 12px; height: 12px; margin: 13px 0; vertical-align: top;
                    background: #909090; .border-radius(50%);
                    &:hover, &.sel {background: @background1;}
                }
            }
        }
    }
}

//Module SJ Accordion for VirtueMart
.module.acc_vm {
    border: none;
    div.modcontent {
        padding: 0;
        .sj-accordion {
            margin: 0;
            .acd-items {
                padding: 0;
                background: none;
                counter-reset: my-badass-counter;
                .acd-item {
                    color: #666; position: relative;
                    &:before {
                        content: counter(my-badass-counter);
                        counter-increment: my-badass-counter ;
                        background: #666; color: #fff; min-height: 35px;
                        display: block; position: absolute;
                        top: 0; left: 0; font-size: 16px; padding: 9px 9px;
                    }
                    .acd-header {
                        background: #eee; padding: 9px 15px 9px 35px;
                        text-transform: none; border: none; min-height: 35px;
                        color: #666; font-weight: 700; margin:0 0 1px;

                    }

                    .acd-content-wrap {

                        .acd-content-wrap-inner {text-align: center;border: #eee 1px solid; border-top: none;margin-bottom: 1px;
                            .acd-image {
                                float: none; max-width: 100%;
                                padding: 0; margin: 0;
                                img {
                                    &:hover {transform: none;}
                                }
                                a {
                                    display: block; float: none;
                                    &.sj_quickview_handler {height: 40px; width: 40px;}
                                }
                            }
                            .acd-title {margin-top: 9px;
                                a {
                                    font-weight: 700; font-size: 14px;
                                    color: #666;
                                    &:hover{color: @linkColor;}
                                }
                            }
                            .inforating {
                                .ratingbox {
                                    margin: 9px auto;
                                }
                            }
                            .item-price {
                                margin-bottom: 10px;
                                .vm-display {
                                    font-size: 12px; color: #999;
                                    display: inline-block; padding: 0 5px;
                                    .PricesalesPrice {
                                        font-size: 16px; font-weight: 700;
                                        color: @linkColor;
                                    }
                                    .PricediscountAmount {text-decoration: line-through;}
                                }
                            }
                        }
                    }
                    &.selected {
                        .acd-header{display: none;}
                        &:before{visibility: hidden;}
                    }
                    &:hover {
                        .sj_quickview_handler {top: 50%; height: 40px; width: 40px;}
                    }
                }
            }
        }
    }
}

//Module Sj Extra Slide VM
.module.sjexslidervm {
    .sj-extra-slider {
        margin: 0; position: relative;
        .heading-title {
            display: block; background: #eee; float: none;
            color: #444; font-size: 14px; overflow: hidden; padding: 9px 15px;
            border-bottom: @linkColor 1px solid; margin-bottom: -1px;
            position: relative; z-index: 2;
            .ex_icon {
                width: 40px; height: 41px; text-align: center; display: inline-block;
                line-height: 40px; background: @background1; color: #fff; margin:-10px 15px -10px -15px;
            }
        }
        .owl-controls {
            margin: 0; float: none; z-index: 3;
            position: absolute; top: 7px; right: 10px;
            .owl-nav {
                .owl-prev, .owl-next { margin: 0 2px;
                    width: 26px; height: 26px; background: #fff;
                    border: #dfdfdf 1px solid; .border-radius(50%);
                    opacity: 1; text-align: center; color: #cfcfcf;
                    &:hover {opacity: 1; color: @linkColor; border-color: @linkColor;}
                }
            }
        }
        .extraslider-inner {
            border: none; padding: 0;
            .owl-stage-outer {
                .owl-stage {
                    .owl-item {
                        .item {
                            border: #ddd 1px solid; margin-bottom: 1px;
                            .item-wrap {
                                .item-wrap-inner {
                                    padding: 0; margin: 0; position: relative;
                                    .new, .sale {
                                        width: 56px; height: 56px; text-indent: -9999em;
                                        display: block; content: '';
                                        position: absolute; z-index: 1;
                                    }
                                    .new {background: url(../../images/icon/icon-new.png) 0 0 no-repeat; top: 0; right: 0;}
                                    .sale {background: url(../../images/icon/icon-sale.png) 0 0 no-repeat; top: 0; left: 0;}
                                    .item-image {
                                        padding: 20px 0 12px;
                                    }
                                    .item-info {
                                        background: none; padding: 0 20px 16px; color: #666; text-align: center;
                                        .item-title {
                                            padding: 0;
                                            a {
                                                color: #666;
                                                font-size: 14px;
                                                text-transform: none;
                                                &:hover {color: @linkColor;}
                                            }
                                        }
                                        .inforating {
                                            margin: 6px 0;
                                            .ratingbox {margin: 0 auto;}
                                        }
                                        .item-content {
                                            margin: 0;
                                            .item-price {
                                                .vm-display {
                                                    font-size: 12px; color: #999;
                                                    display: inline-block; padding: 0 5px;
                                                    .PricesalesPrice {
                                                        font-size: 16px; font-weight: 700;
                                                        color: @linkColor;
                                                    }
                                                    .PricediscountAmount {text-decoration: line-through;}
                                                }
                                            }
                                        }
                                        .item-addtocart {
                                            .addtocart-area {
                                                .vm-customfields-wrap {display: none;}
                                                .addtocart-bar {
                                                    text-align: center;
                                                    .quantity_label {display: none;}
                                                    .addtocart-button {
                                                        margin: 15px auto 0; padding: 6px 15px;
                                                        background: #fff; border: #ddd 1px solid;
                                                        color: #999; text-transform: uppercase;
                                                        font-weight: 700;  transition: 0.3s all ease 0s;
                                                        .border-radius(3px); text-align: center;
                                                        &:hover {
                                                            background: @background1;
                                                            border-color: @linkColor;
                                                            color: #fff;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .sj_quickview_handler {top: 50%;}
                                .item-image {box-shadow: none;}
                                .item-wrap .item-wrap-inner .item-info .item-addtocart .addtocart-area .addtocart-bar .addtocart-button {background: @background1; border-color: @linkColor; color: #fff;}
                            }
                        }
                    }
                }
            }
        }
    }
}

//Module Sj Super Category VM
div.module.listingtab_home1 {border: none; position: relative;
   div.modcontent {padding: 0;}
   .sj-listing-tabs {
        .pre-text {float: left; display: inline-block; width: 23.15%; margin: 0; padding: 0; }
        .ltabs-wrap .ltabs-tabs-container{margin: -1px 0 30px;}
        .ltabs-tabs-container .ltabs-tabs{display: table;width:100%;border-collapse: collapse;

            li.ltabs-tab{text-align: center;margin: 0; display: table-cell;float: none;padding: 14px 0;

                > span{font-weight: bold;text-transform: capitalize;font-size: 13px;}
                &.tab-sel,&:hover{background: #f4f4f4;
                    > span{color: @linkColor;}
                }
            }
        }
        .ltabs-tab-img{float: none;margin: 0;}
        .ltabs-items-container  {float: left; display: inline-block; width: 76.85%; margin:0; padding: 0; overflow: visible;
            .control-slide-product {
                position: absolute; z-index: 2;
                top: 7px; right: 10px;
                div {
                    margin: 0 2px;
                    width: 26px; font-size: 22px;
                    height: 26px; line-height: 18px;
                    background: #fff;
                    border: #dfdfdf 1px solid;
                    .border-radius(50%); opacity: 1;
                    text-align: center; float: left;
                    color: #cfcfcf; display: inline-block;
                    .fa {margin: 0;}
                    &:hover {
                        color: @linkColor; border-color: @linkColor; cursor: pointer;
                    }
                }
            }
            .ltabs-items {overflow: visible;}
            .ltabs-items-container  {float: left; display: inline-block; width: 76.85%; margin:0; padding: 0;}
            .ltabs-items-inner{border: #ddd 1px solid;margin-left: -1px;}
            .item-inner{margin: 0;}

            .owl2-item {
                border-left: #ddd 1px solid; min-height: 328px;

                    display: block; text-align: center;
                    .item-inner {
                        .item-image {
                            padding:  0;border: none;margin: 15px  0;
                            img{width: auto;}
                        }
                        .item-title {
                            padding: 0;
                            a {
                                color: #666; font-weight: 700;
                                font-size: 14px;
                                text-transform: none;
                                &:hover {color: @linkColor;}
                            }
                        }
                        .inforating {
                            margin: 6px 0;
                            .ratingbox {margin: 0 auto;}
                        }
                        .item-prices {
                            .vm-display {
                                font-size: 12px; color: #999;
                                display: inline-block; padding: 0 5px;
                                .PricesalesPrice {
                                    font-size: 16px; font-weight: 700;
                                    color: @linkColor;
                                }
                                .PricediscountAmount {text-decoration: line-through;}
                            }
                        }

                        .item-addtocart {
                            .addtocart-area {
                                .vm-customfields-wrap {display: none;}
                                .addtocart-bar {
                                    text-align: center;
                                    .quantity_label {display: none;}
                                    .addtocart-button {
                                        margin: 5px auto 0; padding: 6px 15px;
                                        background: #fff; border: #ddd 1px solid;
                                        color: #999; text-transform: uppercase;
                                        font-weight: 700;  transition: 0.3s all ease 0s;
                                        .border-radius(3px); text-align: center;
                                        &:hover {
                                            background: @background1;
                                            border-color: @linkColor;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }

                    }
                    &:hover {
                        .sj_quickview_handler {top: 50%;}
                        .item-addtocart .addtocart-area .addtocart-bar .addtocart-button {background: @background1; border-color: @linkColor; color: #fff; }
                    }

            }
        }
   }

}

//Module Acymailing
.newsletter {
    .acymailing_module_form {

        .acymailing_introtext {
            float: right; width: 40%;
            color: #fff; margin: 0; padding: 0 15px;
            h3 {margin: 3px 0 0;}
        }
        .acymailing_form {
            float: right; width: 60%; text-align: right;
            .border-radius(3px); overflow: hidden;
            p {
               display: inline-block; margin: 0; vertical-align: top;
                input {width: 100%; border: none; margin: 0 ; padding: 0; min-height: 40px;}
                &.fieldacyemail {width: 67%;margin-right: -3px;
                    input {
                        border-bottom: #ccc 2px solid; padding: 0 15px; font-size: 12px; color: #999;border-radius: 3px 0 0 3px;
                    }
                }
                &.acysubbuttons {width: 92px;
                    input {
                        border-bottom: darken(@linkColor, 20%) 2px solid; font-size: 12px; font-weight: 700;
                        &:hover {background: darken(@linkColor, 15%);}
                    }
                }
            }
        }
    }
}

//Module Sj Search Pro VM
.module.sjsearchvmpro {
    margin: 0; background: #333333;
    width: 77%; float: right; display: inline-block;
    .sj-search-pro-wrapper {
        padding: 5px; width: 100%;
        .search {
            display: block; border: #ddd 1px solid; background: #fff;
            .select_category {
                float: left; display: inline-block; width: 20%;
                border-right: #ddd 1px solid; font-size: 12px; position: relative;
                select {
                    border: none; background: none; padding: 8px 15px; height: 38px;
                    -webkit-appearance:none; -moz-appearance:none; appearance:none;
                }
                select::-ms-expand { display: none;}
                .caret {
                    background: #fff; border: #ddd 1px solid; .border-radius(50%); color: #999;
                    width: 13px; height: 13px; text-align: center; line-height: 12px; position: absolute;
                    font-family: fontawesome; z-index: 1; right: -7px; top: 12px;
                    &:before {content: "\f0d7";}
                }
            }
            .sj-seach-autocomplete {
                float: left; display: inline-block; width: 80%; position: relative;
                .autosearch-input {
                    float: left; display: inline-block; border: none; height: 38px; width: 90%; padding: 0 20px;
                }
                .dropdown-menu-sj {
                    position: absolute; margin: 0; padding: 0; list-style: none; right: -2px; top: -6969em;
                    background: #fff; left: -1px !important; border: #ddd 1px solid; z-index: 3;
                    li {
                        display: block; padding: 10px; border-bottom: #ddd 1px solid; text-align: left; margin: 0;
                        .media-left {display: inline-block; width: 15%; text-align: center; padding: 5px; border: #ddd 1px solid; margin-right: 15px; background: #fff;}
                        .media-body {
                            display: inline-block; width: 80%; margin: 0;
                            a {
                                display: block; font-size: 14px; font-weight: 700; color: #666;
                                &:hover {color: @linkColor;}
                            }
                            .sj-search-catename {display: block;}
                            .box-price {
                                .vm-display {
                                    display: inline-block; margin-right: 10px;
                                    .vm-price-desc {display: none;}
                                    .PricesalesPrice {font-size: 16px; font-weight: 700; color: @linkColor;}
                                    .PricediscountAmount {text-decoration: line-through; color: #999;}
                                }
                            }
                        }
                        &:last-child {border-bottom: none;}
                        &:hover {background: #eee;}
                    }
                }
                .button-search {
                    float: right; display: inline-block; height: 40px; width: 40px; margin: -1px -2px;
                    text-align: center; padding: 0;
                }
            }
        }
    }
}

//Module Sj Vertical Megamenu
.module.sj_verticalmegamenu {
    margin: -80px 0 25px; border: none;
    a.modtitle {
        background: #444; color: #fff; padding: 15px;
        border: none; height: 50px; display: block;
        font-size: 16px; font-weight: 700;
        text-transform: uppercase;
        .fa {margin-right: 10px;}
    }
    div.modcontent {margin: 0; padding: 0;}
    .sambar {
        margin: 0; border: #ddd 1px solid; position: relative;
        &:after {
            bottom: 100%;
            left: 22px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 8px;
            margin-left: -8px;
        }
        .sambar-inner {
            background: none; color: #666;
            box-shadow: none;
            ul.sj-megamenu {
                &.sj-megamenu-vertical {
                    .menu-title {
                        span {
                            color: #666;
                        }
                    }
                    .level-1 {
                        display: block; margin: 0 -1px; padding: 0 0 0 20px; border: none; position: relative;
                        a {
                            display: block; margin: 0; height: auto; padding: 9.5px 15px;
                            > span {
                                color: #444; font-size: 13px;
                            }
                        }
                        &:last-child {
                            a {padding: 11px 15px;}
                        }
                        &:hover {
                            background: @background1;
                            a {
                                span {
                                    color: #fff;
                                }
                            }
                            &:after {color: #fff;}
                            &:before {background-position: 0 -5px;}
                        }
                        &:before {
                            display: inline-block; background: url(../../images/bg/bg_li_vertical_megamenu.png) 0 0 no-repeat;
                            width: 5px; height: 5px; content: ''; position: absolute; top: 17px; left: 20px;
                        }
                    }

                    .submenu {
                        min-width: 200px; margin: 0; padding: 0;
                        li {
                            border-bottom: #ddd 1px solid;
                            &:hover {
                                background: @background1;
                                border-color: @linkColor;
                                a span {color: #fff;}
                                &:after {color: #fff;}
                            }
                        }
                        &.sj-magamenu-jmod {
                            li {
                                border: none;
                                &:hover {
                                    background: #fff;
                                }
                            }
                        }
                    }
                    li.parent {
                        position: relative;
                        &:after {
                         position: absolute; content: "\f0da";
                            font-family: fontawesome; top: 7px; right: 18px;
                        }
                    }
                   li.level-1:hover li.level-2 a span, li.level-1:hover li.level-2:hover li.level-3 a span, li.level-1:hover li.level-2:hover li.level-3:hover li.level-4 a span {color: #666;}
                    li.level-1:hover li.level-2:hover a span, li.level-1:hover li.level-2:hover li.level-3:hover a span {color: #fff;}


                    .sj-megamenu-child {
                        position: absolute; top: 0; left: 100%; z-index: 5; background: #fff;
                        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
                    }
                }
            }
        }
    }
}

// Module Filter
.module.filter{
    h3.modtitle {
        font-size: 20px; padding: 0 0 15px;
        border-bottom: @linkColor 1px solid;
        margin-bottom: -1px;
    }
    .modcontent {
        border: #ddd 1px solid;
        .sj-ft-pre-text{
            border-bottom: 1px solid #ddd;
            line-height: 100%;
            h3{
                 display: inline-block;
                font-size: 16px;
                line-height: 100%;
                padding-bottom: 8px;
                position: relative;
                text-transform: uppercase;
                margin: 0;
                &:after{
                    background: @background1;
                    bottom: -1px;
                    position: absolute;
                    content: "";
                    height: 1px;
                    left: 0;
                    width: 100px;
                }
            }
        }
        .sj-vm-filter{
            .ft-wrap{
                form.ft-form{
                    .ft-group {
                        margin-bottom: 15px;
                        .ft-heading {
                            margin-bottom: 5px;
                            .ft-heading-inner {
                                &:hover {color: @linkColor;}
                            }
                        }
                        .ft-content {
                            .ft-select {
                                .ft-option {
                                    padding: 0;
                                    label.ft-opt-inner {
                                            input[type="checkbox"] {display: none;}
                                            span.ft-opt-name:before {
                                                width: 11px; height: 11px; margin-right: 10px;
                                                border: 2px solid #999; content: "";
                                                display: inline-block; background: #999;
                                            }
                                            input[type="checkbox"]:checked + span.ft-opt-name:before {
                                                background: #fff;
                                            }
                                            &:hover {color: @linkColor;}
                                        }
                                }
                            }
                        }
                        &.ft-filtering {
                            .ft-content {
                                .ft-content-inner {
                                    .ft-select {
                                        .ft-option {
                                            label.ft-opt-inner {
                                                .ft-opt-name:before {display: none;}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &.ft-group-prices {
                            .ft-content-prices {
                                .ft-select {
                                    .ft-prices {
                                        .ft-opt-inner {
                                            .ft-price-value {
                                                border: #ddd 1px solid; font-size: 12px;
                                                line-height: 30px; max-width: 40%; padding: 0 5px;
                                                .ft-price-input {
                                                    min-height: 30px; float: right; border: none; line-height: 30px;
                                                    width: auto !important; display: inline-block;
                                                    max-width: 50px; text-align: left;
                                                }
                                                .ft-price-curent {
                                                    border: none; background: none;
                                                    line-height: 30px; font-size: 12px;
                                                    color: #666; font-weight: 700; padding: 0 2px;
                                                }
                                            }
                                        }
                                        .ft-slider-price {
                                            background: #eee; border: none;
                                            .ui-slider-handle {
                                                background: #fff; border: #ddd 2px solid;
                                                .border-radius(50%); cursor: pointer;
                                                width: 18px; height: 18px; top:-6px;
                                                &:hover {border-color: @linkColor;}
                                            }
                                            .ui-slider-range {
                                                background: #ddd;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ft-opt-clearall {
                            background: @background1;
                            border-color: @background1;
                            color: #fff;
                            &:hover {
                                background: darken(@background1,10%);
                                border-color: darken(@background1,10%);
                            }
                        }
                    }
                }
            }
        }
    }
}

//Module Tags
.module.popular-tags{
    .modcontent{
        .block-title{
            border-bottom: 1px solid #ddd;
            line-height: 100%;
            h3{
                 display: inline-block;
                font-size: 16px;
                line-height: 100%;
                padding-bottom: 8px;
                position: relative;
                text-transform: uppercase;
                margin: 0;
                &:after{
                    background: @background1;
                    bottom: -1px;
                    position: absolute;
                    content: "";
                    height: 1px;
                    left: 0;
                    width: 128px;
                }
            }
        }
        .tagspopular.popular-tags{
            overflow: hidden;
            ul{
                list-style: outside none none;
                padding: 0;
                margin: 0;
                li{
                    float: left;
                    margin: 3px 4px 3px 0;
                    &:hover{
                        a{
                            background: @background1;
                            color: #fff;
                            border-color: @background1;
                        }
                    }
                    a{
                        background:none;
                        border-radius: 2px;
                        font-size: 12px;
                        height: 30px;
                        line-height: 30px;
                        padding: 6px 15px;
                        color: #707070;
                        border: #ebebeb 1px solid;
                    }
                }
            }
        }
    }
}

//Module VM Product
.module.vmproduct {
    border: none;
    div.modcontent {
        padding: 0;
        .vmgroup {
            .vmproduct {
                display: block; margin: 20px 0 0;
                .product-img {
                    float: left; display: inline-block;
                    max-width: 108px; border: #ddd 1px solid;
                    margin-right: 20px;
                    a {
                        display: block; padding: 10px;
                        img {transition: 0.3s all ease 0s;}
                        &:hover {
                            img {opacity: 0.5;}
                        }
                    }
                }
                .product-content {
                    float: left; display: inline-block; width: 50%;
                    a {
                        font-size: 14px; color: #444; display: block;
                        font-weight: 700; margin: 3px 0;
                        &:hover {color: @linkColor;}
                    }
                    .price {
                        .vm-display {
                            display: inline-block;
                            .PricesalesPrice {
                                font-size: 16px; font-weight: 700; color: @linkColor;
                            }
                            .PricediscountAmount {
                                margin: 0 5px; color: #999; font-size: 12px; text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Module Blog Category
.module.blog_category {
    h3.modtitle {
        padding: 0 0 15px;
    }
    div.modcontent {padding:10px 0 0;}
    ul.menu {
        margin: 0; padding: 0; list-style: none;
        li {
            border-bottom: #ddd 1px dotted;
            a {
                display: block; padding: 5px 0; color: #666;
                &:hover {color: @linkColor;}
            }
        }
    }
}

&.rtl {
    [class*=" fa-"] {margin: 0;}
    [class^="icon-"] {margin: 0;}
    //Module Custom Html
    .info_top_left {
        li {margin-right: 0; margin-left: 15px;
            &:before {
                margin-right: 0; margin-left: 5px;
            }
        }
    }

    .user_menu_top_right {
        float: left;
        li {
            float: right;
            &:before {
                left: auto; right: 0;
            }
            &:first-child {
                &:before {display: none;}
            }
            &.parent {
                a, span {padding: 5px 20px 5px 25px;}
                &:after {
                    right: auto; left: 8px;
                }
                ul.yt-list {
                    li {
                        &:before {display: none;}
                    }
                }
                &:hover {
                    &:after {
                        color: @linkColor;
                    }
                }
            }
            &:hover {
                a, span {color: @linkColor;}
            }
        }
    }

    .banner-slth1 {
        li {
            float: right;
        }
    }

    .slideshow_deal {
        .main_slideshow {
            float: right;
            .yt-content-slider {
                direction: ltr;
            }
        }
        .main_deal {
            float: right;
        }
    }

    .list_bottom {
        li {
            &:before {
                margin-right: 0; margin-left: 10px; content: "\f0d9";
            }
            &:hover {
                margin-left: 0; margin-right: 5px;
            }
        }
    }

    .list_contact {
        li {
            display: block; overflow: hidden;
            &:before {
                margin: 3px 0 0 10px; float: right;
            }
        }
    }

    .services_home1 {
        li { float: right; }
    }

    .payment {
        float: left;
        li { float: right; }
    }

    .contentmega {
        .content_listmega {
            &.content_listmega1 {float: right;
            }
            &.content_listmega2 {float: right; }
            .list_mega { float: right; }
        }
        .bn_mega {
            float: left; margin-right: 0; margin-left: -40px;
        }
    }

    .module.brands {
        div.modcontent {
            .yt-content-slider {
                direction: ltr;
            }
        }
    }

    //Module language
    .mod-languages {
        float: left;
        .dropdown-toggle {
            padding: 7px 20px 7px 0px;
            &:before {
                left: auto; right: 5px;
            }
        }
        ul.dropdown-menu {
            left: 0; right: auto;
            li { text-align: right;  direction: rtl; }
        }
    }

    //Module Currency
    .mod-currency {
        float: left;
        .btn-group.bootstrap-select.inputbox {
            .btn.dropdown-toggle.selectpicker.btn-default {
                padding: 7px 20px 7px 25px;
                &:before {
                    left: auto; right: 5px;
                }
                .caret {left: 12px; right: auto;}
            }
            .dropdown-menu {
                left: auto; right: 0;
            }
        }
    }

    // Mod Minicart
    .module.sjminicart {
        right: auto; left: 15px;
        .sj-minicart-pro {
        .mc-wrap{
            .mc-content{
                right: auto; left: 0;
                .mc-empty{
                    color: @linkColor;
                    font-size: 14px;
                }
                .mc-content-inner{
                    .mc-top{
                        &:after {
                            right: auto; left: 10%;
                            margin-left: -8px; margin-right: -8px;
                        }
                    }
                    .mc-list{
                        padding: 0;
                        .mc-product-wrap {
                            padding: 5px 0;
                            .mc-product {
                                padding:5px 10px;
                                .mc-product-inner {
                                    float: right; display: inline-block; width: 70%; margin: 0; padding: 0;
                                    .mc-image {
                                        background: #fff; border: #ddd 1px solid; overflow: visible;
                                        float: right; display: inline-block; position: relative; margin-right: 0;
                                        margin-left: 10px; max-width: 60px; a {display: block;}
                                        .mc-remove {
                                            position: absolute; bottom: -10px; right: auto; left: -8px;
                                            color: #999; &:hover {color: @linkColor;}
                                        }
                                    }
                                    .mc-attribute {
                                        float: right; display: inline-block; width: 60%;
                                        .attr-name {
                                            a {
                                                color: #444; font-weight: 700; margin-bottom: 5px;
                                                display: block; text-decoration: none; &:hover {color: @linkColor;}
                                            }
                                        }
                                        .attr-quantity {
                                            display: block;
                                            .label, .value, .quantity-control {
                                                float: right; display: inline-block; height: 20px;
                                                margin: 0 2px; line-height: 20px;
                                                .mc-quantity {
                                                    min-height: 16px; height: 19px; font-size: 13px;
                                                    border: #ddd 1px solid; background: #fff;
                                                }
                                                .quantity-plus, .quantity-minus {margin: 0;}
                                            }
                                        }
                                    }
                                }
                                .attr-price {
                                    float: right; display: inline-block; width: 30%;
                                    text-align: left;
                                    span.value {
                                        font-size: 12px; background: #999; .border-radius(2px);
                                        color: #fff; padding: 5px 8px;
                                    }
                                }
                            }
                        }
                        .mCSB_scrollTools {
                            .mCSB_buttonUp, .mCSB_buttonDown {display: none;}
                            .mCSB_draggerContainer {
                                margin: 0; background: #ddd;
                                .mCSB_dragger_bar {
                                    width: 16px; .border-radius(0); background: #ccc;
                                }
                                .mCSB_draggerRail {display: none;}
                            }
                        }
                    }
                    .mc-coupon{
                        display: none;
                    }
                    .mc-footer{
                        .price-total{
                            border-bottom: 1px solid #ddd;
                            border-top: 1px solid #ddd;
                            color: #444;
                            font-size: 16%;
                            font-weight: bold;
                            padding: 6px 23px;
                            text-transform: uppercase;
                            overflow: hidden;
                            .mc-totalprice-footer{
                                float: right;
                                text-align: right;
                                width: 100%;
                                strong{
                                    float: left;
                                    font-weight: 700;
                                    color: #444;
                                }
                            }
                        }
                        .button-wrapper{
                            height: 52px;
                            .mc-gotocart{
                                background-color: #666;
                                color: #fff;
                                float: right;
                                font-size: 116.6%;
                                font-weight: bold;
                                margin-left: 15px;
                                margin-right: 15px;
                                margin-top: 10px;
                                padding: 6px 14px;
                                text-transform: uppercase;
                                &:hover{
                                    background: @background1;
                                }
                            }
                            .mc-checkout-footer{
                                float: right;
                                span{
                                    background-color: #666;
                                    color: #fff;
                                    float: right;
                                    font-size: 116.6%;
                                    font-weight: bold;
                                    margin-left: 10px;
                                    margin-top: 10px;
                                    padding: 6px 14px;
                                    text-transform: uppercase;
                                    &:hover{
                                        background: @background1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    }

    //Module Sj Deals
    .sj_vm_deals_wrap {
        overflow: visible;
        .icon-deals { left: -1px; }
        .owl-carousel {
            direction: ltr;
            .item {
                .sj_relative {
                    text-align: right;
                    .item-inner {
                        .inforating {
                            display: block; overflow: hidden;
                            .ratingbox {float: right;}
                        }
                        .item-title {text-align: right;}
                        .item-price {
                            direction: rtl;
                            .vm-display {margin-right: 0; margin-left: 10px;}
                        }
                    }
                }
            }
            .owl-controls {    margin-top: 5px;
                .owl-nav {
                    .owl-prev {left: 0; top: 38.2%;}
                }
            }
        }
    }

    //Module Sj Extra News
    .module.newblogs {
        .sj-extraslider {
            .heading-title {
                .ex_icon {
                    margin:-10px -15px -10px 15px;
                }
            }
            .extraslider-inner {
                .item {
                    .line {
                        .item-wrap {
                            .item-wrap-inner {
                                .item-info { text-align: right; }
                            }
                        }
                    }
                }
            }
        }
    }

    //Module SJ Accordion for VirtueMart
    .module.acc_vm {
        div.modcontent {
            .sj-accordion {
                .acd-items {
                    .acd-item {
                        &:before { left: auto; right: 0; }
                        .acd-header { padding: 8px 35px 8px 15px; }
                    }
                }
            }
        }
    }

    //Module Sj Extra Slide VM
    .module.sjexslidervm {
        .sj-extra-slider {
            .heading-title {
                .ex_icon {
                    margin:-10px -15px -10px 15px;
                }
            }
            .owl-controls {
                right: auto; left: 10px;
            }
            .extraslider-inner {
                direction: ltr;
                .owl-stage-outer {
                    .owl-stage {
                        .owl-item {
                            .item {
                                .item-wrap {
                                    .item-wrap-inner {
                                        .item-info {
                                            .item-content {
                                                .item-price { direction: rtl; }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Module Sj Super Category VM
    div.module.listingtab_home1 .sj-listing-tabs{
        .pre-text{float: right;}
        .ltabs-items-container{float: right;}
    }

    //Module Acymailing
    .newsletter {
        .acymailing_module_form {
            .acymailing_introtext { float: left; }
            p.fieldacyemail{margin: 0 0 0 -3px;}
            .acymailing_form {text-align: left; }
            p.fieldacyemail input{border-radius: 0 3px 3px 0;}
        }
    }

    //Module Sj Search Pro VM
    .module.sjsearchvmpro {
        float: left;
        .sj-search-pro-wrapper {
            .search {
                .select_category {
                    float: right; border-left: #ddd 1px solid; border-right: none;
                    .caret {left: -7px; right: auto;}
                }
                .sj-seach-autocomplete {
                    float: right;
                    .autosearch-input { float: right; }
                    .dropdown-menu-sj {
                        right: -1px; left: -3px !important;
                        li {
                            text-align: right;
                            .media-left { margin-right: 0; margin-left: 15px; float: right; }
                        }
                    }
                    .button-search { float: left; }
                }
            }
        }
    }

    //Module Sj Vertical Megamenu
    .module.sj_verticalmegamenu {
        margin: -80px 0 30px; border: none;
        a.modtitle { .fa {margin-right: 0; margin-left: 10px;} }
        .sambar {
            &:after {
                left: auto; right: 22px;
                margin-left: 0; margin-right: -8px;
            }
            .sambar-inner {
                ul.sj-megamenu {
                    &.sj-megamenu-vertical {
                        .level-1 {
                            padding: 0 15px 0 0;
                            a {padding: 9.5px 15px;}
                            &:last-child {a {padding: 11px 15px;} }
                            &:before { left: auto; right: 15px; }
                        }
                        li.parent {
                            position: relative;
                            &:after {content: "\f0d9";right: auto; left: 10px;}
                        }
                        .sj-megamenu-child {
                            position: absolute; top: 0; left:auto; right: 100%; z-index: 5; background: #fff;
                            box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
                        }
                    }
                }
            }
        }
    }

    // Module Filter
    .module.filter{
        .modcontent {
            .sj-ft-pre-text{
                h3{
                    &:after{
                        left: auto; right: 0;
                    }
                }
            }
            .sj-vm-filter{
                .ft-wrap{
                    form.ft-form{
                        .ft-group {
                            .ft-content {
                                .ft-select {
                                    .ft-option {
                                        label.ft-opt-inner {
                                            span.ft-opt-name:before {
                                                margin-right: 0; margin-left: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //Module Tags
    .module.popular-tags { .modcontent { .tagspopular.popular-tags { ul { li { float: right; } } } } }

    //Module VM Product
    .module.vmproduct {
        div.modcontent {
            .vmgroup {
                .vmproduct {
                    .product-img { float: right; margin-right: 0; margin-left: 20px; }
                    .product-content { float: right; }
                }
            }
        }
    }

    //Module Blog Category
    .module.blog_category {
        h3.modtitle {
            padding: 0 0 15px;
        }
        div.modcontent {padding:10px 0 0;}
        ul.menu {
            margin: 0; padding: 0; list-style: none;
            li {
                border-bottom: #ddd 1px dotted;
                a {
                    display: block; padding: 5px 0; color: #666;
                    &:hover {color: @linkColor;}
                }
            }
        }
    }
}
