
/**************************************************************
		OWLCAROUSEL css
**************************************************************/
.no-padding {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.no-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#main-slider .slideshow .owl2-controls .owl2-nav div {
    position: absolute;
	z-index: 100;
    top: 50%;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 1);
    opacity: 0.7;
    width: 40px;
    height: 40px;
    background: rgba(201,201,201,0.75);
	transform: matrix(1, 0, 0, 1, 30, -20);
}

#main-slider .slideshow .owl2-controls .owl2-nav div.owl-custom-next {
    right: 65px;
}

#main-slider .slideshow .owl2-controls .owl2-nav div.owl-custom-next:before {
    content: "\f105" !important;
    vertical-align: middle;
    font-size: 20px !important;
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    display: block;    
    line-height: 40px;
    text-align: center;
}

#main-slider .slideshow .owl2-controls .owl2-nav div.owl-custom-prev {
    left: 5px;
}

#main-slider .slideshow .owl2-controls .owl2-nav div.owl-custom-prev:before {
    content: "\f104" !important;
    vertical-align: middle;
    font-size: 20px !important;
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    display: block;    
    line-height: 40px;
    text-align: center;
}

#main-slider .slideshow .owl2-controls .owl2-nav div.owl-custom-next:hover,
#main-slider .slideshow .owl2-controls .owl2-nav div.owl-custom-prev:hover {
    background: rgba(0, 0, 0, 1);
	cursor: pointer;
}
.subcribe {
	min-height: 32px;
	width: 100%;
	max-width: 480px;
}
		
.mc4wp-form-basic, .mc4wp-form-basic input, .mc4wp-form-basic label, .mc4wp-form-theme, .mc4wp-form-theme input, .mc4wp-form-theme label {
	line-height: normal;
}