<form>
    <div class="row-fluid">

        <div class="form-group">
            <label for="inputVendorName">Tên đại lý</label>
            <input ng-model="vendor.vendor_store_name" type="text" class="form-control" id="inputVendorName" aria-describedby="vendorNameHelp">
            <small id="vendorNameHelp" class="form-text text-muted">Tên đại lý / Cộng tác viên hiển thị trên hệ thống bán hàng.</small>
        </div>

        <div class="form-group">
            <label for="inputVendorPhone">Điện thoại</label>
            <input ng-model="vendor.vendor_phone" type="text" class="form-control" id="inputVendorPhone">
        </div>

        <div class="form-group">
            <label for="formControlFullDescription">Giới thiệu cửa hàng</label>
            <textarea ng-model="vendor.vendor_store_desc" rows="5" class="form-control" id="formControlFullDescription"></textarea>
        </div>


    </div>
    <div class="row-fluid">

        <h2>SEO</h2>
        <small class="form-text text-muted">Thông tin head trang chủ cửa hàng dành cho SEO.</small>
        <div class="col-6">
            <div class="form-group">
                <label for="inputVendorMetadesc">Meta description</label>
                <textarea ng-model="vendor.metadesc" rows="5" class="form-control" id="inputVendorMetadesc"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="inputVendorMetakey">Metakey</label>
                <textarea ng-model="vendor.metakey" rows="5" class="form-control" id="inputVendorMetakey"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu thông tin</button>
    </div>
</form>
